* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #aec092;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #0b0d0e;
}

.input-section {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #e27a4a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #aebbc6;
}

.result-section {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.result-section p {
    font-size: 16px;
    margin-bottom: 10px;
}

span {
    font-weight: cursive;
}
